@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 200;
    src: url("/src/fonts/the-jamsil/TheJamsilThin.otf") format("opentype");
  }
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 300;
    src: url("/src/fonts/the-jamsil/TheJamsilLight.otf") format("opentype");
  }
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 400;
    src: url("/src/fonts/the-jamsil/TheJamsilRegular.otf") format("opentype");
  }
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 500;
    src: url("/src/fonts/the-jamsil/TheJamsilMedium.otf") format("opentype");
  }
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 700;
    src: url("/src/fonts/the-jamsil/TheJamsilBold.otf") format("opentype");
  }
  @font-face {
    font-family: TheJamsil;
    font-style: normal;
    font-weight: 800;
    src: url("/src/fonts/the-jamsil/TheJamsilExtraBold.otf") format("opentype");
  }

  @font-face {
    font-family: Azonix;
    font-style: normal;
    font-weight: 400;
    src: url("/src/fonts/azonix/Azonix.otf") format("opentype");
  }

  html {
    font-family: TheJamsil, sans-serif;
    color: #fff;
    background-color: #f8f8f8;
  }
}

/* Custom CSS */
.text-linear-gradient {
  background-image: linear-gradient(90deg, #ff9799 0%, #dc0611 40%);
  background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(182deg)
    brightness(105%) contrast(101%);
}

.filter-gray {
  filter: invert(48%) sepia(12%) saturate(486%) hue-rotate(159deg)
    brightness(93%) contrast(87%);
}

.filter-blue {
  filter: invert(18%) sepia(99%) saturate(1901%) hue-rotate(214deg)
    brightness(102%) contrast(88%);
}
